.fade-in {
    opacity: 0;
    width: 100vw;
    transform: translateY(20px); /* 요소가 아래에서 올라오는 효과 */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in.visible {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transform: translateY(0); /* 요소가 원래 위치로 */
  }
  
  .fade-in:not(.visible) {
    opacity: 0;
    transform: translateY(20px); /* 요소가 다시 보이지 않게 아래로 이동 */
  }

  html{
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 8);
    height: 100vh;
    width: 100vw;
  }
  
  #about{
   position: relative;
  z-index: 1; /* 낮은 값 설정 */
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* 배경 색상 예시 */
  color: #fff;
  }

  .fade-in-section {
    width: 100vw;
    position: relative; /* 레이아웃에 영향 주지 않도록 설정 */
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래에서 올라오는 효과 */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in-section.visible {
    width: 100vw;
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 돌아옴 */
  }
  

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .desc{
    padding: 50px 150px;
    height: 100vh;
  }


  .about{
    padding: 30px 0;
    margin: 50px 0;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: lighter;
  }

  .intro{
    margin: 80px 0 20px 0;
    font-size: 60px;
    font-weight: 600;
  }

  .about-me{
    line-height: 2rem;
    padding: 40px 0;
    font-size: 20px;
    font-weight: lighter;
  }

  .about-me2{
    padding: 30px 0 70px 0;
    font-size: 20px;
    font-weight: lighter;
    border-bottom: 1px solid gray;
  }

  .game-btn{
    margin-top: 40px;
    margin-right: 70px;
    float: right;
    padding: 16px 25px;
    font-weight: 600;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 30px;
    transition: color 0.5s;
  }

  .game-btn:hover{
    background-color: rgb(8, 8, 8);
    color: #fff;
    border: 1px solid #fff;
  }